{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $gpgKey := promptStringOnce . "gpgKey" "GPG key ID (leave blank to skip signing)" -}}

[data]
  name    = {{ $name | quote }}
  email   = {{ $email | quote }}
  gpgKey  = {{ $gpgKey | quote }}

[diff]
  pager = "bat --plain"

[edit]
  command = "nvim"

[merge]
  command = "nvim"
  args    = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
